html {
	overflow: auto !important;
}

body {
	overflow: auto !important;
}

table {
	border-collapse: collapse;
}

#bigTableHeading {
	padding: 7px;
	text-align: left;
	font-size: 130%;
}

#statusTable td {
	padding: 5px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #FFFFFF;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #FFFFFF;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	text-decoration: none;
}

th {
	background-color: #C2C3C4;
}

.topoBox {
	float: left;
	border: solid 1px #000000;
	padding: 5px;
	margin: 0px 0px 1px 1px;
	border-radius: 5px;
}

.topoBox:hover, .status-row:hover {
	color: #000000;
	cursor: pointer;
}

.topoBox.color-text-CRIT:hover, .status-row.color-text-CRIT:hover {
	color: #FFFFFF;
	background-color: #CC3333;
}

.topoBox.color-text-WARN:hover, .status-row.color-text-WARN:hover {
	background-color: #EDE900;
}

.topoBox.color-text-MAINT:hover, .status-row.color-text-MAINT:hover {
	background-color: #D0D0D0;
}

.topoBox.color-text-UNKNOWN:hover, .status-row.color-text-UNKNOWN:hover {
	background-color: #D0D0D0;
}

.topoBox.color-text-OK:hover, .status-row.color-text-OK:hover {
	background-color: #77C11B;
}

.status-icon {
	font-size: x-large;
}

.editSection {
	padding: 3px;
}

.buttonsDiv {
	padding: 3px;
}

#statusBar {
	position: absolute;
	top: 10px;
	left: 0px;
	display: none;
	width: 100%;
}